.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: rgba(117, 219, 49, 0.7);
  width: 50px;
  padding: 15px;
  outline: solid 1px black;
}
.label {
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
  color: rgba(185, 56, 9);
  font-size: 15px;
}
.percentage {
  font-weight: 700;
  font-size: 20px;
}
